footer {
    background-color: var(--LightBrown);
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-top: 1px solid var(--Beige);
    border-left: none;        
    border-right: none;
    border-bottom: none;
}

footer a, footer p {
    color: var(--Black);
    font-size: 20px;
    transition: ease-in-out 0.3s;

}
footer a:hover {
    color: var(--White);
}

@media screen and (max-width:391px) {

    footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    footer li {
        font-size: 8px;
    }
}

@media only screen and (min-width: 392px) and (max-width: 1025px) {
    footer {
        gap: 25px;
        align-items: center;
    }

}